
div{
    
    text-align: center;
    padding: 10px;
    
}
#title{
    background-image:url("https://fr.yamaha.com/fr/files/Image-main_Drums_1200x480_09e201102136398b9957b17c48c7ca9c.jpg") ;
 color:red;
 background-repeat: no-repeat, repeat;
 background-position: center;
 background-size: cover;
}
h1{
    font-size:120px ;
    font-style:bolder;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    
}

h3{
    font-size:40px ;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    text-align: center;
}
* {
    box-sizing: border-box;
  }
.topnav {
    overflow: hidden;
    background-color: #333;
    font-size:40px ;
  }
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 5px;
    text-decoration: underline;
    font-size: 50px;
  }
  body{
      background-color: black;

  }
  p{
      color: blanchedalmond;
      font-size: 30px;
    font-family: cursive;
  }
  h6{color: blanchedalmond;
font-size:20px;}
h5{color: gray;
text-align: center;
font-size:15px;

}
h4{color:gray;
font-size:20px;
background-position:left;
}
#button{
    margin-right: 1200px;
    position: relative;
    top:400px;
    font-size: 16px;
    cursor: pointer;
    background-color:black;
color: white;
display: inline-block;
text-align: center;

padding: 10px 40px;

   
}
#l{
  color: gray;
  text-align: center;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.createbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #05b62b;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}



.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}





